.imageReelContainer {
  resize: both;
  min-height: 125px;
  overflow-y: auto;
  background: #c9c9c9;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.layerInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #989898;
}

.reelImageWrapper {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.removeImageButton {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
}

.imageReelImage {
  max-height: 125px;
}

.imageNameInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #989898;
  background: none;
  width: 100%;
  font-size: 12px;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.layerDirection {
  background: none;
  border: none;
  padding: 0;
}

.percentageInput {
  padding: 0;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 12px;
  border-color: #989898;
  border-radius: 0;
  border-bottom-width: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.percentageInput:focus {
  background: none;
}

.percentageText {
  background: none;
  font-size: 12px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-color: #989898;
  border-radius: 0;
  border-bottom-width: 2px;
}
