.imageReelContainer {
  resize: both;
  min-height: 125px;
  overflow-y: auto;
  background: #c9c9c9;
  max-width: 100%;
}

.imageReelImage {
  border: solid 1px #7a7a7a;
  margin: 0 auto;
  max-height: 100px;
}

.dragAndDropMessage {
}
